/* CSS Document */
@charset 'utf-8';
/* font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic&subset=latin,latin-ext);
/* font */
@import url(../images/fontello/css/stylus.css);
@import url(../images/fontello/css/stylus-ie7.css);
/* normalize.css v1.0.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}p,pre{margin:1em 0;}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}dl,menu,ol,ul{margin:1em 0;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
/* elements */
body{font-size:14px;line-height:1.4;font-family:'Source Sans Pro',sans-serif;color:#404b55;text-align:center;background:#fff;}
a{color:#dd2212;cursor:pointer;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{margin:0 0 20px 0;font-weight: normal;}
h1{font-size:28px;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:14px;}
p{margin:0 0 20px 0;}
ul,ol{padding:0;margin:0 0 20px 20px;}
ul ul,ul ol,ol ol,ol ul{margin-bottom:0;}
ol{list-style:decimal;}
ul li{position:relative;padding:0 0 0 20px;margin:0;list-style-type:none;}
ul li:before,ul li .before{position:absolute;top:0;left:0;content:'\e801';*zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '\e801');font-family:'stylus';}
ul ul{padding:10px 0;}
ol li{margin:0 0 0 20px;}
ol ol{padding: 10px 0;}
hr{margin:0 0 20px 0;border:0;border-top:1px solid #ddd;}
strong{font-weight:bold;}
em{font-style:italic;}
sup,sub{position: relative;vertical-align:baseline;font-size:60%;line-height:1;}
sup{bottom:1.4ex;}
sub{top:.7ex;}
/* classes */
.r{text-align:right!important;}
.c{text-align:center!important;}
.l{text-align:left!important;}
.j{text-align:justify!important;}
.pull-left{float:left;}
.pull-right{float:right;}
.clear{clear:both;}
.cleaner{display:block;clear:both;height:0;overflow:hidden;float:none;}
.nodisplay{display:none;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.block{display:block;}
/* xart.classes */
nav.more{text-align:right;margin:0 0 20px 0;}
nav.more a{position: relative;display: inline-block;padding: 0 30px 0 20px;height: 34px;line-height: 34px;color: #fff;font-size: 14px;text-transform: uppercase;letter-spacing: 3px;text-decoration: none;background: #dd2212;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
nav.more a:hover{background: #404b55;}
nav.more a:before{position: absolute;top: 3px;right: -10px;height: 28px;line-height: 28px;width: 28px;text-align: center;font-size: 18px;background: #fff;content: '\e801';font-family: 'stylus';color: #404b55;white-space: nowrap;-webkit-border-radius: 14px;-moz-border-radius: 14px;border-radius: 14px;-webkit-transition: 0.1s;-moz-transition: 0.1s;-o-transition: 0.1s;transition: 0.1s;}
nav.more a:hover:before{font-size: 24px;}
table.normal{margin:0 0 20px 0;width:100%;background:#fff;}
table.normal th,table.normal td{padding:6px 8px;border:1px solid #ccc;font-weight:normal;}
table.normal.compact th,table.normal.compact td{padding:2px 8px;}
table.normal tr:nth-child(odd) td{background:#f1f1f1;color:#000;}
table.normal th,table.normal thead td{font-weight:bold;color: #fff!important;background:#404b55!important;}
table.normal th a,table.normal thead td a{color:#fff;}
table.normal tfoot td{color: #fff!important;background:#7f8a94!important;}
table.info{margin:0 0 20px 0;}
table.info td,table.info th{padding:0 7px 0 0;}
form.normal{margin:0 0 20px 0;}
form.normal label{display:block;margin:0 0 10px 0;font-weight:bold;}
form.normal .optgroup label{display:inline;font-weight:normal;}
form.normal input[type=text],form.normal input[type=email],form.normal input[type=password],form.normal textarea,form.normal select{position:relative;border:1px solid #ccc;font-size:13px;line-height:18px;margin:0 3px 5px 0;width:198px;height:18px;padding:6px 10px;color:#000;background:#fff;}
form.normal input.input-mini{width:25px;padding-left:0;padding-right:0;text-align:center;}
form.normal input.input-small{width:125px;}
form.normal input.input-large{width:300px;}
form.normal textarea{padding:10px;width:auto;height:auto;}
form.normal select{width:auto;height:auto;padding:6px;}
form.normal input[type=text]:hover,form.normal input[type=email]:hover,form.normal input[type=password]:hover,form.normal textarea:hover,form.normal select:hover,
form.normal input[type=text]:focus,form.normal input[type=email]:focus,form.normal input[type=password]:focus,form.normal textarea:focus,form.normal select:focus{background:#f5f5f5;}
form.normal .fileinputs{position:relative;overflow:hidden;display:inline-block;cursor:default;}
form.normal .fileinputs input.type-file{position:absolute;top:-10px;right:-10px;margin:0;padding:0;border:0;width:auto!important;font-size:999px;z-index:1;cursor:default;-webkit-opacity:0;-moz-opacity:0;opacity:0;filter:alpha(opacity=0);}
.normal-button{position:relative;top:-1px;margin:0 0 5px 0;padding:0;border:0;height:32px;padding:0 15px;color:#fff;text-align:center;overflow:visible;font-size:12px;background:#dd2212;cursor:pointer;white-space:nowrap;letter-spacing: 2px;text-transform:uppercase;font-weight:normal;}
a.normal-button{display:inline-block;text-decoration:none;line-height:32px;}
.normal-button:hover,.fileinputs:hover .normal-button{background-color:#404b55;}
.search-results .highlight,.results .highlight{background:yellow;padding:0 3px;color:#000;}
.pagehub{clear:both;text-align:center;padding:20px 0;background: url(../images/bg/05.png) no-repeat center -13px;}
.pagehub a,.pagehub span{position:relative;display:inline-block;width:28px;height:28px;line-height:28px;text-align:center;text-decoration:none;font-size:14px;color:#fff;background:#7f8a94;}
.pagehub span.pagenav{background:#dd2212;}
.pagehub a:hover{background:#404b55;}
.pagehub span.pagenav-ico{opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);cursor:default;}
.clear-decor,.description_separator,.article_separator{clear:both;margin:0 0 20px 0;height:10px;overflow:hidden;background: url(../images/bg/05.png) no-repeat center -12px;}
img.img-left,img[align=left]{float:left;margin:0 15px 5px 0;}
img.img-right,img[align=right]{float:right;margin:0 0 5px 15px;}
a.xeditorpopup img{padding: 3px;border:1px solid #7f8a94;}
a.xeditorpopup:hover img{background: #dfdfdf;;border-color:#dd2212;}
.mod_breadcrumbs ul{margin:0 0 25px 0;padding:0;}
.mod_breadcrumbs ul li{margin:0 6px 0 0;padding:0 0 0 12px;display:inline;background-position:left;}
#system-message dt{display:none;}
#system-message .message ul{margin:0;padding:0;}
#system-message .message ul li{margin:0;padding:0;background:none;}
#system-message .message ul li:before, #system-message .message ul li .before{display: none;}
#system-message .message{padding:8px 14px;margin:0 0 15px 0;background-color:#f0f4f7;border:1px solid #7f8a94;color:#7f8a94;}
#system-message .notice{background-color:#fff;border-color:#dd2212;color:#dd2212;}
#system-message .warning,#system-message .error{background-color:#dd2212;border-color:#dd2212;color:#fff;}
#system-message .warning a,#system-message .error a{color:#fff;}
/* page-header */
#page-header{*zoom:1;position:relative;z-index:9999;width:920px;padding: 0 20px 40px;min-height: 111px;margin: 0 auto;text-align: left;background: url(../images/bg/07.png) no-repeat right top;}
#page-header:before,#page-header:after{display:table;content:"";}
#page-header:after{clear:both;}
#page-header .logo{float: left;padding: 43px 0 0 13px;}
#page-header .logo a{float: left;display: block;text-indent: -9999px;width: 178px;height: 47px;float: left;background: url(../images/logo/stylus.png) no-repeat;}
#page-header .slogan{padding: 66px 0 0 48px;letter-spacing: 3px;float: left;width: 458px;color: #7f8a94;text-transform: uppercase;}
/* container */
#container{border-top: 1px solid #dfdfdf;background: url(../images/bg/01.png) repeat-x;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);box-shadow: 0 0 6px rgba(0,0,0,0.2);}
#container-inner{*zoom:1;position:relative;width: 920px;padding: 0 20px;margin: 0 auto 60px;text-align: left;}
#container-inner:before,#container-inner:after{display:table;content:"";}
#container-inner:after{clear:both;}
/* col-top */
#col-top{*zoom:1;}
#col-top:before,#col-top:after{display:table;content:"";}
#col-top:after{clear:both;}
/* col-gallery */
#col-gallery{min-width: 960px;background: #404b55;}
#col-gallery .inner{*zoom:1;width: 920px;padding: 58px 20px 62px;margin: 0 auto;text-align: left;}
#col-gallery .inner:before,#col-gallery .inner:after{display:table;content:"";}
#col-gallery .inner:after{clear:both;}
/* col-bottom */
#col-bottom{min-width: 960px;background: #f0f0f0;}
#col-bottom .inner{*zoom:1;width: 920px;padding: 70px 20px 50px;margin: 0 auto;text-align: left;}
#col-bottom .inner:before,#col-bottom .inner:after{display:table;content:"";}
#col-bottom .inner:after{clear:both;}
/* page-footer */
#page-footer{*zoom:1;position: relative;width: 920px;padding: 36px 20px;margin: 0 auto;text-align: left;}
#page-footer:before,#page-footer:after{display:table;content:"";}
#page-footer:after{clear:both;}
/* col-left */
#col-left{position: relative;width: 200px;float: left;}
#col-main{position: relative;width: 680px;float: right;}
/* content */
#content{width: 610px;margin: -30px -5px 0;padding: 30px 40px;min-height: 500px;background: url(../images/bg/04.png) no-repeat;}
/* mods */
.mod_search{width: 200px;padding: 50px 0 0 0;float: right;}
.mod_search input[type=text]{position: relative;float: left;margin: 0;padding: 7px 29px 7px 9px;border: 1px solid #fff;width: 160px;height:16px;background: #f5f5f5;outline: none;-webkit-opacity: 0.5;-moz-opacity: 0.5;opacity: 0.5;filter:alpha(opacity=50);-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_search input[type=text]:hover,.mod_search input[type=text]:focus{border-color: #dd2212;-webkit-opacity: 0.9;-moz-opacity: 0.9;opacity: 0.9;filter:alpha(opacity=90);}
.mod_search input[type=submit]{position: relative;float: left;margin: 0 0 0 -30px;padding: 0;border: 0;width: 30px;height: 32px;text-align: center;background: transparent;font-size: 15px;color: #dd2212;font-family: 'stylus';cursor: pointer;-webkit-transition: 0.1s;-moz-transition: 0.1s;-o-transition: 0.1s;transition: 0.1s;}
.mod_search input[type=submit]:hover{font-size: 22px;}
.mod_menu-main{position: relative;z-index: 999;float: left;width: 200px;height: 375px;padding: 67px 25px 0 160px;margin: -40px -25px -5px -150px;background: url(../images/bg/02.png) no-repeat;}
#col-left .mod_menu-main{float: none;width: auto;margin-bottom: 10px;}
.mod_menu-main ul{margin: 0;padding: 0 45px;}
.mod_menu-main ul li{margin: 0 0 11px;padding: 0;font-size: 15px;line-height: 1.2;}
.mod_menu-main ul li:before, .mod_menu-main ul li .before{display: none;}
.mod_menu-main ul li a{color: #404b55;text-decoration: none;}
.mod_menu-main ul li.act a{color: #dd2212;}
.mod_menu-main ul li a:hover{text-decoration: underline;}
.mod_custom-slideshow{position: relative;width: 760px;padding: 0;margin: 0 -1px 0 -50px;float: right;}
.mod_custom-slideshow ul{margin: 0;padding: 0;height: 350px;overflow: hidden;}
.mod_custom-slideshow ul li{position: relative;margin: 0;padding: 0;}
.mod_custom-slideshow ul li:before{display: none;}
.mod_custom-slideshow ul li h2{position: absolute;top:160px;padding: 7px 40px 7px 20px;right: 0;font-weight: normal;font-size: 14px;line-height: 1.2;margin: 0;background: #f1f1f1;background: rgba(255,255,255,0.7);}
.mod_custom-slideshow ul li h2 mark{color: #dd2212;background: none;}
.mod_custom-slideshow .arr{position: absolute;z-index: 999;right: -28px;top: 148px;height: 56px;width: 56px;background: #fff;-webkit-border-radius: 28px;-moz-border-radius: 28px;border-radius: 28px;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);box-shadow: 0 0 6px rgba(0,0,0,0.3);}
.mod_custom-slideshow .arr:before, .mod_custom-slideshow .arr .before{position: absolute;content: '';top:15px;left:50%;width: 1px;height: 25px;background: #dedede;}
.mod_custom-slideshow .arr i{display: block;font-size: 20px;width:28px;height: 56px;line-height: 56px;float: left;cursor: pointer;text-align: center;}
.mod_custom-slideshow .arr i:hover{color: #dd2212;}
.mod_custom-banners{clear: both;}
#page-header .mod_custom-banners{margin-bottom: -10px;padding-top: 10px;}
.mod_custom-banners .mod-title{font-weight: normal;font-size: 19px;line-height: 1;text-transform: uppercase;letter-spacing: 4px;text-align: center;margin: 0 0 41px;}
.mod_custom-banners .mod-title mark{background: none;color: #dd2212;}
.mod_custom-banners section{*zoom:1;margin: 0 0 15px -40px;}
.mod_custom-banners section:before,.mod_custom-banners section:after{display:table;content:"";}
.mod_custom-banners article:hover{z-index: 1;}
.mod_custom-banners section:after{clear:both;}
.mod_custom-banners article{position: relative;width: 200px;float: left;margin: 0 0 60px 40px;padding: 0 0 6px;background: url(../images/bg/03.png) no-repeat bottom;}
#page-header .mod_custom-banners article{margin-bottom: 0;}
.mod_custom-banners article img{display: block;}
.mod_custom-banners article h2{display: table-cell;width:184px;height: 54px;font-weight: normal;text-align: center;font-size: 14px;line-height: 1;text-transform: uppercase;background: #fff;letter-spacing: 3px;padding: 0 10px;vertical-align: middle;border: 8px solid #dd2212;cursor: default;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-banners article:hover h2{color: #fff;background: #dd2212;}
.mod_custom-banners article ul{position: absolute;overflow: hidden;top: 70px;left:0;width: 140px;height: 0;margin: 0;padding: 0 28px 0 32px;background: #999;background: rgba(0,0,0,0.4);-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-banners article:hover ul{padding-top: 23px;height: 107px;}
.mod_custom-banners article ul li{font-size: 15px;padding: 0 0 0 17px;margin: 0 0 12px;line-height: 1.2;}
.mod_custom-banners article ul li:before, .mod_custom-banners article ul li .before{color: #fff;font-size: 20px;content: '\e801';top: -3px;}
.mod_custom-banners article ul li a{color: #fff;text-decoration: none;}
.mod_custom-banners article ul li a:hover{text-decoration: underline;}
.mod_custom-banners article .submenu{position: absolute;overflow: hidden;top: 70px;left:0;width: 580px;height: 0;margin: 0;color: #fff;-webkit-transition: 0.5s;-moz-transition: 0.5s;-o-transition: 0.5s;transition: 0.5s;}
.mod_custom-banners section article:nth-child(3n+0) .submenu,.mod_custom-banners section article:nth-child(4n+0) .submenu{left: auto;right:0;}
.mod_custom-banners article .submenu:before{position: absolute;content: '';left: 84px;top:-16px;border: 16px solid transparent;border-top-color: #dd2212;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.mod_custom-banners article:hover .submenu:before{top:0;}
.mod_custom-banners section article:nth-child(3n+0) .submenu:before,.mod_custom-banners section article:nth-child(4n+0) .submenu:before{left: auto;right:84px;}
.mod_custom-banners article:hover .submenu{height: auto;padding-top: 16px;}
.mod_custom-banners article .submenu a{color: #fff;}
.mod_custom-banners article .submenu .inner{*zoom:1;padding: 30px;background: #404b55;/*background: rgba(64,75,85,0.9);*/}
.mod_custom-banners article .submenu .inner:before,.mod_custom-banners article .submenu .inner:after{display:table;content:"";}
.mod_custom-banners article .submenu .inner:after{clear:both;}
.mod_custom-banners article .submenu ul{position: relative;overflow: visible;top: 0;left:0;width: 50%;float: left;height: auto;margin: 0;padding: 0;background: none;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-banners article .submenu ul:after{position: absolute;content: '';left:100%;top:0;bottom:0;height: 100%;width: 20px;background: url(../images/bg/06.png) no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;}
.mod_custom-banners article .submenu h3{font-size: 14px;margin-bottom: 0;font-weight: bold;}
.mod_custom-banners article .submenu figure{margin: 0 0 20px;}
.mod_custom-banners article .submenu figure img{padding: 0 0 5px;background: url(../images/bg/03.png) no-repeat bottom;}
.mod_custom-banners article nav{position: absolute;overflow: hidden;right: 0;top: 100%;width: 0;margin-top: -6px;text-align: center;-webkit-transition: 0.3s;-moz-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.mod_custom-banners article:hover nav{width: 100%;}
.mod_custom-banners article .submenu nav{position: static;width: auto;text-align: left;}
.mod_custom-banners article nav a{position: relative;display: inline-block;height: 33px;line-height: 33px;color: #fff;text-decoration: none;text-transform: uppercase;padding: 0 20px;min-width: 60px;text-align: center;letter-spacing: 3px;background: #dd2212;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-banners article nav a:hover{background: #7f8a94;}
.mod_custom-banners .item-right{float: right;width: 40%;}
.mod_newsflash_xart{float: left;width: 320px;font-size: 14px;line-height: 1.2;margin: 0 0 20px;}
#col-left .mod_newsflash_xart{float: none;width: auto;margin-bottom: 40px;}
.mod_newsflash_xart .mod-title{font-weight: normal;font-size: 20px;line-height: 1.2;text-transform: uppercase;letter-spacing: 2px;margin: 0 0 17px;}
.mod_newsflash_xart time{position: relative;display: block;font-size: 14px;color: #757575;font-style: italic;padding: 0 0 0 23px;margin: 0 0 5px;}
.mod_newsflash_xart time:before, .mod_newsflash_xart time .before{position: absolute;content: '\e805';left:0;top:-1px;color: #dd2212;font-style: normal;font-size: 19px;font-family: 'stylus';}
.mod_newsflash_xart h2{font-size: 14px;line-height: 1.4;font-weight: bold;margin: 0 0 5px;}
.mod_newsflash_xart h2 a{text-decoration: none;border-bottom: 1px dotted #dd2212;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_newsflash_xart h2 a:hover{color: #fff;background: #7f8a94;border-color: #fff;}
.mod_custom-prodejce{float: left;width: 400px;margin: 0 0 20px;}
#col-left .mod_custom-prodejce{float: none;width: auto;padding-top: 20px;margin-bottom: 40px;}
.mod_custom-prodejce .mod-title{font-weight: normal;font-size: 20px;line-height: 1.2;text-transform: uppercase;letter-spacing: 2px;margin: 0 0 40px;text-align: center;}
#col-left .mod_custom-prodejce .mod-title{margin: 0 0 20px;text-align: left;}
#col-left .mod_custom-prodejce img.map-cr{margin: 0 -26px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-prodejce a:hover img.map-cr{-webkit-opacity: 0.7;-moz-opacity: 0.7;opacity: 0.7;filter:alpha(opacity=70);}
.mod_custom-poptavka,.mod_custom-katalog{float: right;width: 200px;}
#col-left .mod_custom-poptavka,#col-left .mod_custom-katalog{float: none;width: auto;}
.mod_custom-poptavka a, .mod_custom-katalog a{position: relative;padding: 25px 40px 25px 30px;margin: 0 0 16px;display: block;color: #fff;font-size: 14px;line-height: 1.3;letter-spacing: 3px;text-decoration: none;text-transform: uppercase;background: #dd2212;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-katalog a{background: #7f8a94;}
.mod_custom-poptavka a:hover, .mod_custom-katalog a:hover{background: #404b55;}
.mod_custom-poptavka a:before, .mod_custom-katalog a:before{position: absolute;top:50%;margin-top: -28px;right:-28px;height: 56px;line-height: 56px;font-size: 22px;width: 56px;text-align: center;color: #dd2212;background: #fff;font-family: 'stylus';-webkit-border-radius: 28px;-moz-border-radius: 28px;border-radius: 28px;-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);box-shadow: 0 0 3px rgba(0,0,0,0.3);-webkit-transition: 0.1s;-moz-transition: 0.1s;-o-transition: 0.1s;transition: 0.1s;}
.mod_custom-poptavka a:before{content: '\e806';}
.mod_custom-katalog a:before{color: #7f8a94;content: '\e807';}
.mod_custom-poptavka a:hover:before,.mod_custom-katalog a:hover:before{font-size: 28px;-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 12px rgba(0,0,0,0.3);box-shadow: 0 0 12px rgba(0,0,0,0.3);}
.mod_custom-poptavka a mark, .mod_custom-katalog a mark{color: #fff;font-weight: bold;background: none;}
.mod_custom-galerie{position: relative;}
.mod_custom-galerie .mod-title{font-weight: normal;font-size: 19px;line-height: 1.2;text-transform: uppercase;letter-spacing: 4px;margin: 0 0 53px;text-align: center;color: #7f8a94;}
.mod_custom-galerie .mod-title mark{background: none;color: #dd2212;}
.mod_custom-galerie ul{*zoom:1;margin: 0 -40px 0 0;padding: 0;}
.js .mod_custom-galerie ul{width: 920px;}
.mod_custom-galerie .cycle-carousel-wrap{white-space: nowrap;width: 9999em;}
.mod_custom-galerie ul:before,.mod_custom-galerie ul:after{display:table;content:"";}
.mod_custom-galerie ul:after{clear:both;}
.mod_custom-galerie ul li{margin: 0 40px 20px 0;padding: 0;width: 200px;float: left;}
.mod_custom-galerie ul li:before, .mod_custom-galerie ul li .before{display: none;}
.mod_custom-galerie ul li img{position: relative;padding: 0 0 8px;background: url(../images/bg/03.png) no-repeat bottom;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-galerie ul li a:hover img{top:5px;-webkit-opacity: 0.7;-moz-opacity: 0.7;opacity: 0.7;filter:alpha(opacity=70);}
.mod_custom-galerie .cycle-prev,.mod_custom-galerie .cycle-next{position: absolute;top:50%;right: 100%;padding: 0 0 0 6px;margin: 0 25px 0 0;width: 50px;height: 56px;line-height: 56px;text-align: left;background: #5a626b;color: #fff;cursor: pointer;-webkit-border-radius: 28px;-moz-border-radius: 28px;border-radius: 28px;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-galerie .cycle-next{right:auto;left: 100%;margin: 0 0 0 25px;padding: 0 6px 0 0;text-align: right;}
.mod_custom-galerie .cycle-prev:hover,.mod_custom-galerie .cycle-next:hover{background: #dd2212;}
.mod_custom-galerie .cycle-prev:after, .mod_custom-galerie .cycle-prev .after,
.mod_custom-galerie .cycle-next:after, .mod_custom-galerie .cycle-next .after{position: absolute;content: '';top: 15px;left: 50%;width: 1px;height: 26px;background: rgba(255,255,255,0.3);}
.mod_custom-about{width: 440px;float: left;font-size: 14px;line-height: 1.5;}
.mod_custom-about .mod-title{font-weight: normal;font-size: 20px;line-height: 1.2;text-transform: uppercase;letter-spacing: 2px;margin: 0 0 20px;}
.mod_custom-about nav{padding: 3px 0 0 0;}
.mod_custom-about nav a{position: relative;display: inline-block;padding: 0 30px 0 30px;height: 54px;line-height: 54px;color: #fff;font-size: 14px;text-transform: uppercase;letter-spacing: 3px;text-decoration: none;min-width: 190px;background: #dd2212;-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-about nav a:hover{background: #404b55;}
.mod_custom-about nav a:before{position: absolute;top: 10px;right: -15px;height: 36px;line-height: 36px;width: 32px;padding: 0 0 0 4px;text-align: center;font-size: 22px;background: #fff;content: '\e801';font-family: 'stylus';color: #404b55;-webkit-border-radius: 18px;-moz-border-radius: 18px;border-radius: 18px;-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);box-shadow: 0 0 3px rgba(0,0,0,0.3);-webkit-transition: 0.1s;-moz-transition: 0.1s;-o-transition: 0.1s;transition: 0.1s;}
.mod_custom-about nav a:hover:before{font-size: 28px;}
.mod_custom-video{width: 440px;float: right;}
.mod_custom-video .mod-title{font-weight: normal;font-size: 20px;line-height: 1.2;text-transform: uppercase;letter-spacing: 2px;margin: 0 0 25px;}
.mod_custom-video .mod-title mark{background: none;color: #dd2212;}
.mod_custom-video .video{float: left;width: 340px;}
.mod_custom-video ul{float: right;width: 85px;margin: 0;padding: 0;}
.mod_custom-video ul li{margin: 0 0 30px;padding: 0;font-size: 11px;letter-spacing: 1px;text-transform: uppercase;}
.mod_custom-video ul li:before, .mod_custom-video ul li .before{display: none;}
.mod_custom-video ul li a{text-decoration: none;color: #7f8a94;}
.mod_custom-video ul li img{-webkit-transition: 0.2s;-moz-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.mod_custom-video ul li a:hover img{-webkit-opacity: 0.7;-moz-opacity: 0.7;opacity: 0.7;filter:alpha(opacity=70);}
.mod_menu-footer{float: left;width: 640px;margin: 0 0 22px;}
.mod_menu-footer ul{margin: 0;padding: 0;}
.mod_menu-footer ul li{margin: 0 24px 0 0;padding: 0;display: inline;}
.mod_menu-footer ul li:before, .mod_menu-footer ul li .before{display: none;}
.mod_menu-footer ul li.act{font-weight: bold;}
.mod_menu-footer ul li a{text-decoration: none;color: #7f8a94;}
.mod_menu-footer ul li a:hover{text-decoration: underline;}
#page-footer .copy{width: 640px;float: left;color: #7f8a94;font-size: 11px;letter-spacing: 1px;text-transform: uppercase;}
#page-footer .xart{position: absolute;top:38px;right:20px;width: 240px;float: right;font-size: 11px;text-align: right;text-transform: uppercase;}
#page-footer .xart a{color: #404b55;text-decoration: none;}
#page-footer .xart img{float: right;margin: -3px 0 0 7px;}
