@font-face {
  font-family: 'stylus';
  src: url('../font/stylus.eot?84178483');
  src: url('../font/stylus.eot?84178483#iefix') format('embedded-opentype'),
       url('../font/stylus.woff?84178483') format('woff'),
       url('../font/stylus.ttf?84178483') format('truetype'),
       url('../font/stylus.svg?84178483#stylus') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'stylus';
    src: url('../font/stylus.svg?84178483#stylus') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "stylus";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-angle-left:before { content: '\e802'; } /* '' */
.icon-angle-right:before { content: '\e801'; } /* '' */
.icon-angle-up:before { content: '\e803'; } /* '' */
.icon-angle-down:before { content: '\e804'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */
.icon-circle:before { content: '\e808'; } /* '' */