
.icon-search:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-angle-left:before { content: '\e802'; } /* '' */
.icon-angle-right:before { content: '\e801'; } /* '' */
.icon-angle-up:before { content: '\e803'; } /* '' */
.icon-angle-down:before { content: '\e804'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */
.icon-circle:before { content: '\e808'; } /* '' */